---
layout: main
---
  <article class="article-page">
  <div class="page-content">
    
    
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">About me</h1>
        <div class="page-date"><span>2020, Jan 02&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      <p>A run-down through all my projects and internships.</p>

<p>I am a senior undergraduate at IIT BHU Varanasi pursuing B.Tech in Electronics Engineering. Currently, I am working on my Bachelor’s Thesis in collaboration
with <a href="https://www.encrypto.cs.tu-darmstadt.de/research_profile/index.en.jsp">Cryptography and Engineering Privacy Group</a> at TU Darmstadt under the supervision
of <a href="https://www.sites.google.com/site/thomaschneider/home?authuser=0">Prof Thomas Schneider</a>. Previously, I have also interned at Nanayang Technological University, Singapore in collaboration with
Webank, China and at Bar Ilan University, Israel under the supervision of Dr Carmit Hazay.</p>

<p>My interests lie in security, distributed systems, software engineering and machine learning.</p>

<!--<p><img src="/github.io\assets\img\ftl.jpg" alt="alt-text-1" title="secure ftl" /><img src="/github.io\assets\img\secure-ml.jpg" alt="alt-text-2" title="secure ml" /></p>-->

<h2>Projects </h2>
<p>Hover over the image to access the description.</p>

<div class="row">
  <div class="column">
<div class="container">
  <img src="/assets/img/code.jpg" alt="Contributed to a C++ Framework" class="image" style="width:90%">
  <div class="middle">
    <div class="text">C++ Framework for secure computation - MOTION<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
  </div>
</div>
</div>
<div class="column">
<div class="container">
  <img src="/assets/img/ftl.png" alt="Federated Learning" class="image" style="width:90%">
  <div class="middle">
    <div class="text">Secure Federated Transfer Learning<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
  </div>
</div>
</div>
</div>
<div class="column">
<div class="container">
  <img src="/assets/img/prf.png" alt="Developed a Algebraic-PRF" class="image" style="width:90%">
  <div class="middle">
    <div class="text">Theory: Algebraic-Pseudorandom Function<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
  </div>
</div>
</div>
</div>
<div class="column">
<div class="container">
  <img src="/assets/img/secure-dl.png" alt="Decentralised DL" class="image" style="width:90%">
  <div class="middle">
    <div class="text">Privacy-preserving Deep Learning<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
  </div>
</div>
</div>
</div>
  
  <div class="row">
    <div class="column">
  <div class="container">
    <img src="/assets/img/fpga.jpg" alt="Designed and implemented a cryptographic processor" class="image" style="width:90%">
    <div class="middle">
      <div class="text">16-bit RISC-based Cryptoprocessor<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
    </div>
  </div>
  </div>
  <div class="column">
  <div class="container">
    <img src="/assets/img/nmt.png" alt="Teacher-student model for NMT" class="image" style="width:90%">
    <div class="middle">
      <div class="text">Teacher-Student model for Neural Machine Translation<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
    </div>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="column">
  <div class="container">
    <img src="/assets/img/rl.jpg" alt="Course-project DS" class="image" style="width:90%">
    <div class="middle">
      <div class="text">Implementation: Secure-ML<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
    </div>
  </div>

  </div>
  <div class="column">
  <div class="container">
    <img src="/assets/img/tree-ftl.png" alt="Tree-based FL" class="image" style="width:90%">
    <div class="middle">
      <div class="text">Federated Learning for Decision Trees<img src="/assets/img/redirect.jpg" alt="Avatar" class="image" style="width:10%"></div>
    </div>
  </div>
  </div>
  </div>
  
  

      <div class="page-footer">
        <div class="page-share">
          
        </div>
        <div class="page-tag">
          
          
        </div>
      </div>
      <section class="comment-area">
  <div class="comment-wrapper">
    
  </div>
</section> <!-- End Comment Area -->

    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->

